streamlit 
pandas 
nltk 
matplotlib 
seaborn 
gensim 
wordcloud 
langdetect 
googletrans==4.0.0-rc1 
google-generativeai 
numpy 
scikit-learn
reportlab
weasyprint
libglib2.0-0
libpango-1.0-0
libpangoft2-1.0-0